/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --template-primary-color: #ffcc01;
  --secondary-color: #292a2f;
  --text-color: #ffffff;
  --font-body: 'Roboto', sans-serif !important;
}

body {
  margin: 0;
  font-family: var(--font-body);
  background-color: #ffffff;
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}